h1{
  text-align: center;
}


table{
  margin:auto;
}

td{
  border: 5px solid white;
  padding: 100px;
  height: 350px;
  text-align: center;
}

#one{
  background: #8ecae6;
}
#two{
  background: #219ebc;
}
#three{
  background: #023047;
}
#four{
  background: #ffb703;
}
#five{
  background: #fb8500;
}
